
<section class="container py-3"  *ngIf="cartDeta.length; else image">
    <h3>Shop Cart</h3>
    <div *ngFor="let item of cartDeta" class="row py-3 align-items-center border-2 rounded-3 shadow-sm mb-2 bg-light">
        <div class="col-md-2">
            <img class="w-100" [src]="item.product.imageCover" alt=>
        </div>
        <div class="col-md-10 d-flex justify-content-between">
            <div class="detailCart">
                <h2 class="h5"> {{item.product.title}}</h2>
                <h5 class="text-muted">Price: <span class="rating-color"> {{item.price}}</span> EGP </h5>
                <button #btnRemove (click)="removeItem(item.product._id,btnRemove)" class="btn main-btn"><i class="fa-regular fa-trash-can"></i> Remove</button>
            </div>
            <div>
                <button #btn1 (click)="changCountItem(item.product._id,item.count -1,btn1,btn2)" class="btn main-btn"><i class="fa-solid fa-minus"></i></button>
                <span class="mx-2 rating-color">{{item.count}}</span>
                <button #btn2 (click)="changCountItem(item.product._id,item.count +1,btn2,btn1)" class="btn main-btn"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
    </div>
    <span  class="text-danger ms-auto d-block">Total Price: {{cartInfo.totalCartPrice
    }}</span>
    <button class='btn main-btn d-block ms-auto' [routerLink]="['/payment',cartInfo._id]">Payment</button>
</section>

<ng-template #image>
    <div class="w-50 mx-auto">
<img class="w-100" src="./assets/images/empty-cart.png" alt="imageEmtyCart">
    </div>
</ng-template>

