<footer class="p-3 bg-light d-flex align-items-center ">
    <div class="contaner-fluid">
        <div class="text">
            <h4> Get the freshCart App</h4>
            <p> We will send you a link ,open it on your phone and dwonload the app</p>
        </div>
        <div class="row g-3">
            <div class="col-lg-10">
                <input type="email" placeholder="Email.." class="form-control">
            </div>
            <div class="col-lg-2">
                <button class="main-btn font-sm"> Share App Link</button>
            </div>
        </div>
     </div>
</footer>




