
<!--  -->
<div class="container maxWidth py-3">
    <form (ngSubmit)="handelForget()">
        <h2 class="h4 fw-bold mb-2">Forget Passowrd</h2>
        <div class="form-item" [formGroup]="forgetForm">
            <label for="email">Email</label>
            <input class="form-control" formControlName="email" type="email"
                name="email" id="email">
            <div
                *ngIf="forgetForm.get('email')?.touched && forgetForm.get('email')?.errors"
                class="alert alert-danger my-2">
                <p *ngIf="forgetForm.get('email')?.getError('required')">Email
                    Is
                    Required</p>
                <p *ngIf="forgetForm.get('email')?.getError('email')">Enter
                    Vaild Email</p>
            </div>

        </div>
        <div *ngIf="errMsg" class="alert alert-danger">
            <p>{{errMsg}}</p>
        </div>
        <button *ngIf="load" type="submit" class="main-btn d-block ms-auto"><i
                class="fa-solid fa-spinner fa-spin"></i></button>

        <button *ngIf="load==false" [disabled]="forgetForm.invalid"
            type="submit"
            class="btn main-btn d-block ms-auto" (click)="handelForget()">
            Send</button>

    </form>
</div>