
<!--  -->
<div class="container maxWidth py-3">
    <form (ngSubmit)="handelCode()">
        <h2 class="h4 fw-bold mb-2">Rest Code</h2>
        <div class="form-item" [formGroup]="restForm">
            <label for="resetCode">Code</label>
            <input class="form-control" formControlName="resetCode"
                type="resetCode"
                name="resetCode" id="resetCode">
            <div
                *ngIf="restForm.get('resetCode')?.touched && restForm.get('resetCode')?.errors"
                class="alert alert-danger my-2">
                <p *ngIf="restForm.get('resetCode')?.getError('required')">Email
                    Is
                    Required</p>
                <p
                    *ngIf="restForm.get('resetCode')?.getError('pattern')">Enter
                    Vaild code, contain 6 number</p>

            </div>
        </div>
        <div *ngIf="errMsg" class="alert alert-danger">
            <p>{{errMsg}}</p>
        </div>
        <button *ngIf="load" type="submit" class="main-btn d-block ms-auto"><i
                class="fa-solid fa-spinner fa-spin"></i></button>

        <button *ngIf="load==false" [disabled]="restForm.invalid" type="submit"
            class="btn main-btn d-block ms-auto" (click)="handelCode()">
            Send</button>

    </form>
</div>