
<section id="category" class="py-2 py-lg-5">
    <div class="container">
        <div class="row g-4">
            <div *ngFor="let item of subData" class="col-md-6 col-lg-4"
             role="button"
             >
                    <div class="rounded shadow fixHigh d-flex align-items-center justify-content-center mx-2 bg-light">
                        <h2 class="fw-bold h5 text-center"> {{item.name}}</h2>
                    </div>
            </div>
        </div>
    </div>

</section>