<div class="container maxWidth py-3">
    <form [formGroup]="resetPassForm" (ngSubmit)="handelRest()">
        <h2 class="fw-bold mb-2 h4"> Reset Password</h2>
        <div class="form-item">
            <label for="email">Email</label>
            <input class="form-control" formControlName="email" type="email" name="email" id="email">
            <div
                *ngIf="resetPassForm.get('email')?.touched && resetPassForm.get('email')?.errors"
                class="alert alert-danger my-2">
                <p *ngIf="resetPassForm.get('email')?.getError('required')">Email Is
                    Required</p>
                <p *ngIf="resetPassForm.get('email')?.getError('email')">Enter
                    Vaild Email</p>
            </div>
        </div>
        <div class="form-item">
            <label for="newPassword">newPassword</label>
            <input class="form-control" formControlName="newPassword" type="password" name="newPassword"
                id="newPassword">
            <div
                *ngIf="resetPassForm.get('newPassword')?.touched && resetPassForm.get('newPassword')?.errors"
                class="alert alert-danger">
                <p
                    *ngIf="resetPassForm.get('newPassword')?.getError('required')">Password
                    Is Required</p>
                <p *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">At
                    least 6 char</p>
            </div>
        </div>
        <div *ngIf="errMesg" class="alert alert-danger">
            <p>{{errMesg}}</p>
        </div>

        <button *ngIf="load" type="submit" class="main-btn d-block ms-auto" ><i class="fa-solid fa-spinner fa-spin"></i></button>

        <button *ngIf="load==false" [disabled]="resetPassForm.invalid" type="submit" class="btn main-btn d-block ms-auto" > Login</button>
    </form>
</div>
